<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MiniMiner Rewrite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>50DAE80B1E1BF4A700DD1B7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50DAE8251E1BF4A800DD1B7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50DAE8301E1BF4A800DD1B7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
